#projects-main-text {padding-bottom: 1% !important; padding-top: 1% !important; position: relative; bottom: 35px;}
.btn.btn-primary {font-size: 2vw;}
@media screen and (max-width: 992px) {.animated-img-main {display: none;}}